[Unit]
Description=Matrix Web App Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/matrix-web-app
ExecStart=/bin/bash -c 'nginx -c /home/pi/matrix-web-app/nginx.conf && npm run start:server:prod'
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 