[Unit]
Description=Matrix Web App
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/matrix-web-app
ExecStart=/usr/bin/npm run start:prod
Restart=always
RestartSec=10
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target 