[Unit]
Description=LED Matrix Server
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/flaschen-taschen/server
ExecStart=/home/pi/flaschen-taschen/server/ft-server --led-rows=64 --led-cols=64 --led-gpio-mapping=adafruit-hat-pwm --led-slowdown-gpio=5
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 